.formControl.error input,
.formControl.error textarea {
    border: 4px solid mediumvioletred;
}

.formControl.error span {
    color: mediumvioletred;
}

.formSummaryError {
    border: 4px solid mediumvioletred;
    padding: 10px;
    margin: 10px 0;
}