.paginator {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.paginator button {
    /*height: min-content;*/
    margin-right: 5px;
}

.main {
}

.page {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.selectedPage {
    font-weight: bold;
    background: gold;
}